<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <%- include ./partials/_header.ejs %>
    <% if(user_id !== undefined) {%>
    <h1>MY URLs</h1>
    <a href='/urls/new'>Add a new Link</a>
    <ul>
        <% for(var templateVars in urls) { %>
            <li> <b><%= templateVars %>:</b> <%= urls[templateVars].longURL %>
                <form method="POST" action="/urls/<%=templateVars%>/delete">
                <button type='submit' class='btn btn-danger'>Delete Button</button>
            </li>
            <a href='/urls/<%=templateVars%>'>EDIT</a>
            </form>
        <% } %>
    </ul>
    <% } %>
</body>
</html>